html {
    font-family: 'JetBrains Mono', monospace, Arial, Helvetica, sans-serif;
}

body {
    font-size: 100%;
    max-width: 1000px;
    margin: auto;
}

/* If the width is less than 1000px then add left and right margins.
This adds margins on mobile, otherwise it goes right to the edge.*/
@media only screen and (max-width: 1100px) {
    body {
      /* 1000 body max-width / 1100 @media max-width = about 91%
      This makes the transition smooth right at 1100px width.
      Reference: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
      max-width: 91vw;
    }
  }

h1 {
    font-size: 2.25em;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
}

h3 {
    /* h3 is normally bold by default, so setting to normal weight. */
    font-weight: normal;
}

a {
    color: darkolivegreen;
}

/* Switched to using highlight.js for code formatting. */
code {
    background-color: #e8e8e0;
    font-size: 1.1em;
    padding: 3px 2px;
}

/* pre {
    background: #e8e8e0;
    padding: 1em;
} */

img {
    max-width: 100%;
}

footer {
    background-color: #e8e8e0;
    padding-top: 8px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar {
    margin: 0;
    padding-top: 10px;
    padding-left: 0px;
}

.navbar li {
    display: inline;
    margin: 0;
    padding: 12px;
    background-color: #e8e8e0;
}

/* For responsive image sizing. */
.responsive {
    /* Image can shrink smaller but won't go larger than existing width. */
    max-width: 100%;
    height: auto;
    /* Center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tableauPlaceholder {
    margin: auto;
}