/* 
Colors:
https://colorhunt.co/palette/f3f4ed536162424642c06014
#F3F4ED
#536162
#424642
#C06014
*/

html {
    font-family: 'JetBrains Mono', monospace, Arial, Helvetica, sans-serif;
}

body {
    font-size: 100%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 2.25em;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
}

a {
    color: darkolivegreen;
}

footer {
    background-color: #e8e8e0;
    padding-top: 8px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar {
    margin: 0;
    padding-top: 10px;
    padding-left: 0px;
}

.navbar li {
    display: inline;
    margin: 0;
    padding: 12px;
    background-color: #e8e8e0;
}

/* For responsive image sizing. */
.responsive {
    /* Image can shrink smaller but won't go larger than existing width. */
    max-width: 100%;
    height: auto;
    /* Center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
